#textdomain wesnoth-MAP

[unit_type]
	id=Liquid Guard
	name= _ "Liquid Guard"
	gender=male
	race=mechanical
	image="liquid_guard.png"
	profile="liquid_guard_portrait.png"
	{MAGENTA_IS_THE_TEAM_COLOR}
	hitpoints=50
	movement_type=liquidguardfoot
	movement=8
	experience=50
	level=1
	alignment=neutral
	advances_to=null
	[advancement]
		strict_amla=yes
		max_times=0
		id=amla_map
		description= _ "Nothing happens."
	[/advancement]
	[abilities]
		[regenerate]
			value=10
			id=liquid regeneration
			name= _ "liquid regeneration"
			female_name= _ "female^liquid regeneration"
			description= _ "Liquid Regeneration:
The unit will heal itself 10 HP per turn in swamp or water terrains."
			affect_self=yes
			[filter]
				[filter_location]
					x,y=$x1|,$y1|
					terrain=Ww,Ss
				[/filter_location]
			[/filter]
		[/regenerate]
	[/abilities]
	upkeep=loyal
	cost=1
	usage=fighter
	description= _ "This strange, liquified statue seems to be guarding this location. He has long, sharp, swords in his hands. Avoid combat whenever possible. They seem to regenerate themselves in the water and are partially undamageable."
	[portrait]
		size=400
		side="left"
		mirror="false"
		image="liquid_guard_portrait.png"
	[/portrait]
	[attack]
		name=guardian swords
		description=_ "guardian swords"
		type=blade
		icon=attacks/greatsword-orcish.png
		range=melee
		damage=5
		number=2
	[/attack]
	[attack_anim]
		[filter_attack]
			name=guardian swords
		[/filter_attack]
		start_time=-150
		[if]
			hits=yes
			[frame]
				begin=-150
				end=0
				image="liquid_guard_attack.png"
				sound=sword-1.ogg
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				begin=-150
				end=0
				image="liquid_guard_attack.png"
				sound=miss-1.ogg,miss-2.ogg,miss-3.ogg
			[/frame]
		[/else]
		[frame]
			begin=0
			end=150
			image="liquid_guard.png"
		[/frame]
	[/attack_anim]
[/unit_type]
