#textdomain wesnoth-MAP

[unit_type]
	id=Rubble Epic
	name= _ "Rubble Epic"
	gender=male
	race=mechanical
	image="terrain/sand_rubble-tile.png"
	profile=""
	{MAGENTA_IS_THE_TEAM_COLOR}
	hitpoints=100
	movement_type=epicfoot
	movement=0
	experience=50
	level=0
	alignment=neutral
	advances_to=null
	[advancement]
		strict_amla=yes
		max_times=0
		id=amla_map
		description= _ "Nothing happens."
	[/advancement]
	[abilities]
		[regenerate]
			value=10
			id=rubble regeneration
			name= _ "rubble regeneration"
			female_name= _ "female^rubble regeneration"
			description= _ "Rubble Regeneration:
The rubble always seems to reorganize itself apon being attacked. This causes the rubble to regenerate itself and clog up the area even more."
			affect_self=yes
		[/regenerate]
	[/abilities]
	upkeep=loyal
	{TRAIT_LOYAL}
	ai_special=guardian
	cost=1
	usage=fighter
	description= _ "This rubble looks to strong to be damaged by conventional means. However, it seems that blade-like attacks is a weakness of this rubble."
[/unit_type]
